/* HTML elements */
body{
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");

    /*background-image: linear-gradient(rgba(211, 211, 211, 0.5) 0%,rgba(240, 240, 240, 0.6) 100%),
    url("https://www.transparenttextures.com/patterns/concrete-wall.png");
    background-repeat: no-repeat;
    /* background-size: contain;
        background: linear-gradient(0deg, rgb(228, 228, 228) 0%,rgb(255, 255, 255) 100%);
    / *background-attachment: fixed; */
}

/* Javascript Inner HTML */
header-component{
    background-color: #ffffff;
    color: #222;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

footer{
    background: white;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

/* Classes */
.description{
    background: #222;
}

.cover-container{
    max-width: 60vw;
}

.nav-link{
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(78, 78, 78, 0.5);
    margin-left: 1rem;
    border-bottom:0.25rem solid transparent;
}
.nav-link:hover{
    color: rgba(68, 68, 68, 0.5);
    border-bottom-color: rgba(68, 68, 68, 0.5);
}

.nav-link.active{
    color:#222;
    border-bottom-color: #222;
}


.btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow:none;
}

.gradient{
    background: linear-gradient(rgba(211, 211, 211, 0.5) 0%,rgba(240, 240, 240, 0.6) 100%);
}

.shadow-text{
    text-shadow: 1px 1px 2px black;
}

.animate {
    border-radius: 2rem;
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
  }
  
  /* Glow In */
  .animate.glow {
    animation-name: animate-glow;
    animation-timing-function: ease;
  }
  
  @keyframes animate-glow {
    0% {
      opacity: 0;
      filter: brightness(3) saturate(3);
      transform: scale(0.8, 0.8);
    }
    100% {
      opacity: 1;
      filter: brightness(1) saturate(1);
      transform: scale(1, 1);
    }
  }
  
  .image{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  .delay-1 {
    animation-delay: 0.6s;
  }
  .delay-2 {
    animation-delay: 0.7s;
  }
  .delay-3 {
    animation-delay: 0.8s;
  }

hr{
    border: 2px solid #222;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

.contents{
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background: #ffffff;

}

.shadow{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
}